*config.py
*__pycache__*
*.zip
*further_material*
ampl.exe
cplex.exe
cplex1251.dll
minos.exe
notebooks_old*
notebooks/zz/*
ZZ/*
DP_werbung_alt.txt
DP_werbung2_full.txt
*ampl/zz*
models_features_without_prom/zz/*
models_features_2_periods/zz/*
models/zz/*
model_eval/zz/*
#*.sav
#notebooks/models_features_without_prom/*
#notebooks/models_features_1_period/*
#notebooks/models_features_2_periods/*
#notebooks/models/*